		
<div class="container">
	<app-permanent-header></app-permanent-header>
	<div class="row mt-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		  	<div class="card-header">
		    <h3 class="card-title"><p class="text-center">Free</p></h3>
			</div>
		    <h4><p class="text-center">$0 / mo</p></h4>
		    <p class="card-text" style="max-height: 5em;overflow-y: scroll;">These free option will not improve your account and will not guaranty any bonuses, but you will recive an email with the top items that are bough on this site </p>
		    <a href="#" class="btn btn-outline-primary">Sign up for free</a>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <div class="card-header">
		    <h3 class="card-title"><p class="text-center">Pro</p></h3>
			</div>
		    <h4><p class="text-center">$15 / mo</p></h4>
		    <p class="card-text">These subscription will guaraty you a 10% disscount at the 10 top most sold items</p>
		    <a href="#" class="btn btn-primary">Get Started</a>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <div class="card-header">
		    <h3 class="card-title"><p class="text-center">Entherprise</p></h3>
			</div>
		    <h4><p class="text-center">$29 / mo</p></h4>
		    <p class="card-text">These subscription will guaraty you a 15% disscount at the 10 top most sold items</p>
		    <a href="#" class="btn btn-primary">Get Started</a>
		  </div>
		</div>
	</div>
</div>