		
<div class="container">
	<app-permanent-header></app-permanent-header>
	<div class="row mt-4">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		  	<div class="card-header">
		    <h3 class="card-title"><p class="text-center">Free</p></h3>
			</div>
		    <h4><p class="text-center">$0 / mo</p></h4>
		    <p class="card-text" style="max-height: 5em;overflow-y: scroll;">These free option will not improve your account and will not guaranty any bonuses, but you will recive an email with the top items that are bough on this site </p>
		    <a href="#" class="btn btn-outline-primary">Sign up for free</a>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <div class="card-header">
		    <h3 class="card-title"><p class="text-center">Pro</p></h3>
			</div>
		    <h4><p class="text-center">$15 / mo</p></h4>
		    <p class="card-text">These subscription will guaraty you a 10% disscount at the 10 top most sold items</p>
		    <a href="#" class="btn btn-primary">Get Started</a>
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <div class="card-header">
		    <h3 class="card-title"><p class="text-center">Entherprise</p></h3>
			</div>
		    <h4><p class="text-center">$29 / mo</p></h4>
		    <p class="card-text">These subscription will guaraty you a 15% disscount at the 10 top most sold items</p>
		    <a href="#" class="btn btn-primary">Get Started</a>
		  </div>
		</div>
	</div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <p>
      For any size of e-commerce company from any country, e-commerce pricing matters. A lot.

      To emphasize that even further, let’s look at some stats:
    </p>
    <ul>
    <li>
      <s>More than %60 of online shoppers worldwide considers e-commerce pricing as the very first criteria affecting their buying decision.</s> The most important store features driving the purchasing decision (80%) is competitive pricing.
    </li>
      <li>
      Around %90 of e-commerce shoppers, they are at a master level of hunting deals. Thanks to technology and comparison shopping engines consumers get alerts in multiple items from multiple stores.
      </li>
      <li>
      Price comparison engines are a key part of the e-commerce marketing stack, as they constitute around % 20 of e-commerce traffic for all sorts of product categories.
      </li>
    </ul>
    <p>
      Obviously, this ratio is even higher for product categories where e-commerce pricing is even more important, and the shopper persona is naturally more price-sensitive.

      Don’t get scared by these numbers. Here lies a great opportunity for gaining advantage and changing the direction the wind blows.

      You see, e-commerce pricing can act as a high-traffic marketing tool and can influence both comparison engines and conversion rates.

      Now let’s see how you can start doing proper e-commerce pricing in your business as much as your customers do – or even more – depending on your market positioning and start getting most out of pricing.s
    </p>

  </div>
</div>

<p class="mt-4">
  Cost-based pricing
</p>

<div class="d-flex justify-content-center">
  <img src="../../assets/calculator-cost-based.jpg" class="img-fluid  ">
</div>
