.searchBox{
	border-style:solid;
	border-color: grey;
	border-width: 1.5px;
	border-radius: 5px;
	width: 250px;
	height: 40px;
}
.searchBox[placeholder]{
	padding-left:15px;
}
.searchBox:focus{
	outline:none;
}
.searchResults{
	z-index: 100;
	position: absolute;
	margin-left: 1em;
	max-width: 15.5em;
}

.daysAdded{
	margin-left: 5px;
}