<div class="container-fluid">
	<div class="row">
	<div class="col-md-12 col-sm-12 col-lg-12">
	<nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
			<ul class="navbar-nav">
				<li class="nav-item pl-3">
					<a href="/home">Home</a>
				</li>
				<li class="nav-item pl-3">
					<a href="/contact">Contact</a>
				</li>
				<li class="nav-item pl-3">
					<a href="/pricing">Pricing</a>
				</li>
				<li class="nav-item pl-3">
					<a href="/delievery">Delievery</a>
				</li>
				<li class="nav-item pl-3" *ngIf="!loginBolean">
					<a href="/login">Login</a>
				</li>
				<li class="nav-item pl-3">
					<a href="/register">Register</a>
				</li>
			</ul>
	</nav>
	</div>
	</div>
</div>

