<div class="container-fluid">
	<div class="row">
	<div class="col-md-12 col-sm-12 col-lg-12">
	<nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
			<ul class="navbar-nav alignCnter">
				<li class="nav-item">
					<a routerLink="/home" routerLinkActive="btn btn-primary">Home</a>
				</li>
				<li class="nav-item pl-3">
					<a routerLink="/contact" routerLinkActive="btn btn-primary">Contact</a>
				</li>
				<li class="nav-item pl-3">
					<a routerLink="/pricing" routerLinkActive="btn btn-primary">Pricing</a>
				</li>
				<li class="nav-item pl-3">
					<a routerLink="/delievery" routerLinkActive="btn btn-primary">Delievery</a>
				</li>
				<li class="nav-item pl-3" *ngIf="!loginBolean">
					<a routerLink="/login" routerLinkActive="btn btn-primary">Login</a>
				</li>
				<li class="nav-item pl-3">
					<a routerLink="/register" routerLinkActive="btn btn-primary">Register</a>
				</li>
			</ul>
	</nav>
	</div>
	</div>
</div>

