<div class="container">
	<app-permanent-header> </app-permanent-header>
	<div class="row">
			<!-- modifica mai sus  -->
		<div class="col-lg-3 col-md-4 col-sm-6 mt-4"> 
			<nav>
				<ul>
					<li><a class="social facebook" routerLink='/home/video'  routerLinkActive="router-link-active"><p class="liTitleName">Video & accesories</p></a> </li>
					<li><a class="social tumblr" routerLink='/home/audio'  routerLinkActive="router-link-active"><p class="liTitleName">Audio & Accessories</p></a> </li>
					<li><a class="social twitter" routerLink='/home/network' routerLinkActive="router-link-active"><p class="liTitleName">Electronice & Network</p></a></li>
					<li><a class="social github" routerLink='/home/tv' routerLinkActive="router-link-active"><p class="liTitleName">TV & Accessories</p></a></li>
				</ul>
			</nav>
		</div>
		<div class="col-lg-6 col-md-4 col-sm-6 mt-5">

      <router-outlet></router-outlet>
			
		</div>
	</div>
			
			<app-shop-pager [page]="pagina" [totalPages]="totalPagini" (changePage)="pagina = $event"></app-shop-pager>	
		
	</div>	




<!-- </<data></data>iv> -->




		
		<!-- <div class="card logInUserSection" *ngIf="showLoginPannel!=0">
			<div class="card-block border">
					<div class="float-left">
					<p>Welcome <a href="/loginCredencials" (click)="populateCredentialPannel()">{{this.userName}}</a></p>
					</div>
					<div class="float-right ml-2">
					<button (click)="logOut($event)" class="btn btn-default">Log Out</button>
					</div>
			</div>
			<div class="card-block">
				<div class="float-right">
					<div class="float-left" *ngIf="basketItemBoolean">
						<button (click)="goBasket($event)" class="btn btn-success float-left mr-2">Go Basket</button>	
						<button (click)="emptryBasket($event)" class="btn btn-danger float-right">Empty Basket</button>
						<br>
						<br>
						<ul *ngFor="let item of basketItemBuy">
							<li>{{item}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div> -->


	<!-- 	<div class="card logInUserSection" *ngIf="showLoginPannel!=0">
			<img class="card-img-top " src="../assets/icons8-user-96.png" alt="Card image cap" style="float:left;width: 100px;height: 100px">
			<div class="float-right mr-2 mt-2">
					<button (click)="logOut($event)" class="btn btn-default">Log Out</button>
			</div>


					<div class="card-body" style="float: left;">
					<p>Welcome <a href="/loginCredencials" (click)="populateCredentialPannel()">{{this.userName}}</a></p>
					</div>

			<div class="card-block">
				<div class="float-right">
					<div class="float-left" *ngIf="basketItemBoolean">
						<button (click)="goBasket($event)" class="btn btn-success float-left mr-2">Go Basket</button>	
						<button (click)="emptryBasket($event)" class="btn btn-danger float-right">Empty Basket</button>
						<br>
						<br>
						<ul *ngFor="let item of basketItemBuy">
							<li>{{item}}</li>
						</ul>
					</div>
				</div>
			</div>		

		</div> -->

	<!-- </div> -->











		

		



	
