<div class="component">
	<app-permanent-header></app-permanent-header>
	<div class="row mt-4">
		<div class="card bg-primary text-white" style="margin: 3em">
			<div class="card-body">
			Delievery will be taxed by the following rule : 15 $ for every request and if the price is bigger then 1000$ it will be free
			</div>
		</div>
	</div>

  <div class="card col-8 offset-1">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <img data-src="https://cdn.shopify.com/s/files/1/0070/7032/files/oie_18181349Nu3swh07.gif?13624347068348444578" src="https://cdn.shopify.com/s/files/1/0070/7032/files/oie_18181349Nu3swh07.gif?13624347068348444578">
        </div>
        <div class="col-8 offset-1">
          <strong> Streamline and save with Shopify Shipping </strong>
          <p class="mt-3">When you ship with Shopify Shipping, you get access
            to pre-negotiated rates with carriers in the US and Canada,
            and you can manage your entire shipping process in one place.</p>
        </div>

      </div>
      <div class="row">
      <div class="offset-5 col-3">
        <button class="btn btn-primary">
          Get started with Shopify Shipping
        </button>
      </div>
      </div>
    </div>
  </div>

  <div class="card col-8 offset-1 bg-secondary mt-4">
    <div class="card-body">
      <div class="row">
        <div class="col-8 offset-1">
          <strong> Use this free shipping calculator </strong>
          <p class="mt-3">Try our Shopify Shipping calculator to figure out your shipping costs and create a strategy that increases sales and goes easy on your bottom line.</p>
        </div>

      </div>
      <div class="row">
        <div class="offset-5 col-3">
          <button class="btn btn-primary">
            Access the shipping calculator
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
