<div class="container">
	<app-permanent-header></app-permanent-header>

	<div class="card ml-5 mt-5" style="width: 40%">
		<h3 class="card-header">
			Account Information
		</h3>
		<div class="card-block border">
		email : {{email}}
		</div>
		<div class="card-block border">
			<input type="password" name="password" class="passwordUser" [value]="password" ><img src="../../assets/octicons_4-3-0_eye_24_0_95a5a6_none.png" class="ml-2" (click)="showPass($event)">
		</div>
		<button class="btn btn-warning" (click)="changePass()">Change password</button>
	</div>
</div>
