@font-face {
    font-family: 'flama-condensed';
    font-weight: 100;
    src: url('http://assets.vervewine.com/fonts/FlamaCond-Medium.eot');
    src: url('http://assets.vervewine.com/fonts/FlamaCond-Medium.eot?#iefix') format('embedded-opentype'),
          url('http://assets.vervewine.com/fonts/FlamaCond-Medium.woff') format('woff'),
          url('http://assets.vervewine.com/fonts/FlamaCond-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli';
    font-weight: 100;
    src: url('http://assets.vervewine.com/fonts/muli-regular.eot');
    src: url('http://assets.vervewine.com/fonts/muli-regular.eot?#iefix') format('embedded-opentype'),
          url('http://assets.vervewine.com/fonts/muli-regular.woff2') format('woff2'),
          url('http://assets.vervewine.com/fonts/muli-regular.woff') format('woff'),
          url('http://assets.vervewine.com/fonts/muli-regular.ttf') format('truetype');
  }
.address-description a {color: #000000 ; text-decoration: none;}
@media (max-device-width: 480px) {
  .vervelogoplaceholder {
    height:83px ;
  }
}

.alignGood{
  display: flex;
  flex-direction: column;
  margin-top:2em;
}


.alignGood > *{
  display: flex;
  align-content: center;
  align-self: center;
}